{% extends "learning_logs/base.html" %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
  <p><a href="{% url 'learning_logs:add_entry' topic.id %}">Add new entry</a></p>
  {% for entry in entries %}
    <div class="panel panel-default">  {# 由无序列表换为面板 #}
      <div class="panel-heading">  {# 面板标题 #}
        <h3>
          {{ entry.date_added|date:'M d, Y H:i' }}  {# 设置日期显示格式：月 日，年 时：分 #}
          <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></small>
        </h3>
      </div>
      
      <div class="panel-body">  {# 面板主体 #}
        {{ entry.text|linebreaks }}  {# 将 '\n' 转为 '<br>' #}
      </div>
    </div><!-- panel -->
  {% empty %}
    There are no entries for this topic yet.
  {% endfor %}
{% endblock content %}