{% extends "learning_logs/base.html" %}  {# 一个应用程序中的模板可继承另一个应用程序中的模板 #}

{% load bootstrap3 %}

{% block header %}
  <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}
  {# django-bootstrap3会自动管理表单错误，所以删除了form.errors判断 #}
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    
    {% bootstrap_form form %}  {# 传入的是form实例 #}

    {% buttons %}<button name="submit" class="btn btn-primary">log in</button>{% endbuttons %}
    
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />  {# 隐藏的表单元素——'next' ，其中的实参value 告诉Django在用户成功登录后将其重定向到什么地方 #}
  </form>
{% endblock content %}